{% extends 'base.html.twig' %}

{% block title %}Attack{% endblock %}

{% block body %}
    <h1>Attack</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ attack.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ attack.type }}</td>
            </tr>
            <tr>
                <th>Direction</th>
                <td>{{ attack.direction }}</td>
            </tr>
            <tr>
                <th>Chain_position</th>
                <td>{{ attack.chainPosition }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_attack_index') }}">back to list</a>

    <a href="{{ path('app_attack_edit', {'id': attack.id}) }}">edit</a>

    {{ include('attack/_delete_form.html.twig') }}
{% endblock %}
